.section-for-presentation {
    height: 95vh;
    width: 100%;
    display: flex;

    .presentation__title {
        width: 100%;
        height: 80vh;
        padding: 30px 10px 0px 10px;
        position: relative;
        h2 {
            font-size: 57px;
        }
        .presentation-title-1 {
            position: absolute;
            top:25%;
            z-index: 1;
            font-size: 60px;
        }
        .presentation-title-2 {
            position: absolute;
            top: 40%;
            line-height: 50px;
            z-index: 2;
        }
    
        .underline {
            position: absolute;
            display: block;
            background-color: #e2d62f;
            width: 200px;
            height: 25px;
            top: 55%;
            z-index: 0;
        }       
        h5 {
            font-size: 20px;
            position: absolute;
            top: 62%;
        }
    }
}

.section-for-info {
    width: 100%;
    height: auto;
    background-color: #4d5e37;
    position: relative;
    padding: 5px;
    overflow-wrap:break-word;
    display: flex;
    flex-direction: column;
    text-align: left;

    h4 {
        color: #e2d62f;
        font-size: 50px;
        position: absolute;
        top: -50px;
        align-self: flex-end;
    }
    h3 {
        color: white;
        font-size:70px;
        line-height: 70px;
        margin: 20px 0; 
        border-bottom: 1px solid white;

        span {
            color: #e2d62f;
            font-size: 50px;
        }
    }
}

.section-for-about {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 5px;
    overflow: hidden;
    display: flex;
    h2 {
        color: #e2d62f85;
        font-size: 150px;
        transform: rotate(90deg);
        position: absolute;
        top: 150px;
        right: -180px;
    }
}

.section-for-work {
    height: 50vh;
    width: 100%;
    padding: 5px;
    background-color: #e2d62f;
    h2 {
        font-size: 35px;
    }
    .circle-for-arrow {
        background-color: white;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-left: 200px;
        position: relative;
        span {
            font-size: 150px;
            position: absolute;
            left: -90px;
            top: -20px;
        }
    }
}
.section-for-contact {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}