.section-for-presentation {
    height: 95vh;
    width: 100%;
    display: flex;

    .presentation__title {
        width: 100%;
        height: 80vh;
        padding: 30px 10px 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            font-size: 57px;
        }
        .presentation-title-1 {
           margin-bottom: 70px;
        }
       
        .underline {
            background-color: #e2d62f;
            width: 200px;
            height: 25px;
            position: relative;

            .presentation-title-2 {
                position: absolute;
                line-height: 50px;
                top: -80px;
            }

        }       
        h5 {
            font-size: 20px;
        }
    }
}

.section-for-info {
    width: 100%;
    height: auto;
    background-color: #4d5e37;
    position: relative;
    overflow-wrap:break-word;
    display: flex;
    flex-direction: column;
    text-align: left;

    h4 {
        color: #e2d62f;
        font-size: 50px;
        position: absolute;
        top: -50px;
        align-self: flex-end;
    }
      
    .info-title-container {
        width: auto;
        padding: 5px;
        margin: 20px 0; 
        border-bottom: 1px solid white;

        h3 {
            color: white;
            font-size:70px;
            line-height: 70px;
            display: inline;
        }
        span {
            color: #e2d62f;
            font-size: 50px;
            text-align: end;
        }
    }
}
.section-for-about {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 5px;
    overflow: hidden;
    display: flex;
    h2 {
        color: #e2d62f85;
        font-size: 150px;
        transform: rotate(90deg);
        position: absolute;
        top: 150px;
        right: -180px;
    }
}

.section-for-work {
    height: 50vh;
    width: 100%;
    padding: 5px;
    background-color: #e2d62f;
    h2 {
        font-size: 35px;
    }
    .circle-for-arrow {
        background-color: white;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-left: 200px;
        position: relative;
        span {
            font-size: 150px;
            position: absolute;
            left: -90px;
            top: -20px;
        }
    }
}
.section-for-contact {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;

    h4 {
        font-size: 30px;
    }
    form {
        height: 80%;
        display: flex;
        flex-direction: column;
        input {
            background-color: none;
            border: none;
            border-bottom: 1px solid black;
            margin: 10px;
            padding: 5px;
            &:focus {
                outline: none;
                border-bottom: 2px solid #4d5e37;
            }
        }
        textarea {
            background-color: none;
            border:  1px solid black;
            padding: 5px;
            margin: 10px;
            &:focus {
                outline: none;
                border: 2px solid #4d5e37;
            }
        }
    }
}